.footer{
    background: $background-footer;
	color: $text-color-dark;
	padding: 1rem;
	padding-top: 100px;
	font-size: 13px;
	a {
		position: relative;
		text-decoration: underline;
		color: $text-color-dark;
	}
}
