// Colors
$accent-color: #DF3666;
$primary-color: #38396B;
$white: white;
$black: #05091D;
$gray: #848484;

$border-color:#D8DBDD;
$text-color: $black;
$text-color-dark: $white;
$btn-color: $accent-color;
$background: $white;
$background-footer: $primary-color;
$image-veil: $primary-color;
$image-mask: #a1bdff;

$primary-font: 'Shippori Mincho B1';
$secondary-font: 'Shippori Mincho B1';
$icon-font: 'FontAwesome';


// Duplicated: Used in Career page only
$body-color: #0c5460;
