@import "variables";
#preloader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: $background;
  z-index: 9999;
  overflow-y: hidden;
}

.spinner {
  .double-bounce1,
  .double-bounce2 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
  }

  .double-bounce1 {
    position: absolute;
  }

  .double-bounce2 {
    position: relative;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
