<!DOCTYPE html>
<html lang="{{ with .Site.Language }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}


<body id="body">
	<!-- <div class="dividers"> -->
	<!-- 	<div class="divider"></div> -->
	<!-- 	<div class="divider"></div> -->
	<!-- 	<div class="divider"></div> -->
	<!-- 	<div class="divider"></div> -->
	<!-- 	<div class="divider"></div> -->
	<!-- </div> -->
	{{- partial "preloader.html" . -}}
	{{ if .IsHome }}
	{{- partial "header.html" . -}}
	{{ end }}
	{{ if not .IsHome }}
	{{ with site.Data.homepage.banner }}
	{{ with resources.Get .image }}
	{{ $jpgImg := .Resize "750x jpg" }}
	{{ with .Resize "750x webp" }}
	<div style="position:absolute">
		<picture>
			<source type="image/webp" srcset="{{ .RelPermalink }}">
			<img decoding="async" width="{{ .Width }}" height="{{ .Height }}"
				src="{{ $jpgImg.RelPermalink }}" alt="slider-image"
				style="width:100vw;height:100vh;object-fit:cover;object-position:bottom;filter:blur(3px) opacity(30%)">
		</picture>
	</div>
	{{- partial "header.html" . -}}
	{{ end }}
	{{ end }}
	{{ end }}
	{{ partial "page-header.html" . }}
	{{ end }}
	{{- block "main" . }}{{- end }}

	{{ if site.Data.homepage.footer.enable }}
	{{ with site.Data.homepage.footer }}
	<footer class="footer">
		<div class="text-center">
			{{ .title | markdownify }}
		</div>
	</footer>
	{{end}}
	{{end}}
</body>

</html>
