{{ define "main" }}

{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}
<section class="hero-slider">
	<div class="container-fluid p-0 m-0">
		<div class="row m-0">
			<div class="col-12 p-0 ml-auto">
				<div class="hero-slider-wrapper">
					<div class="item">
						<div class="content">
							<h2 class="rev">
								{{.title | markdownify}}
							</h2>
							<h3>{{ .content | markdownify }}</h3>
							{{ if .button.enable }}
							{{ with .button }}
							<a href="{{ .link | absURL }}" class="hero-btn btn">{{.label}}</a>
							{{ end }}
							{{ end }}
						</div>
						<div class="item-image image-reveal">
							{{ with resources.Get .image }}
							{{ $jpgImg := .Resize "750x jpg" }}
							{{ with .Resize "750x webp" }}
							<picture>
								<source type="image/webp" srcset="{{ .RelPermalink }}">
								<img decoding="async" width="{{ .Width }}" height="{{ .Height }}"
									src="{{ $jpgImg.RelPermalink }}" alt="slider-image">
							</picture>
							{{ end }}
							{{ end }}
						</div>
						<div class="scroll">
							<h6>SCROLL</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 text-center">
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}

{{ if site.Data.homepage.mission.enable }}
{{ with site.Data.homepage.mission }}
<section class="mission" id="mission">
	{{ if .bg_img }}
	<div class="bg">
		{{ with resources.Get .bg_img }}
		{{ $jpgImg := .Resize "750x jpg" }}
		{{ $webpImg := .Resize "750x webp" }}
		<picture>
			<source type="image/webp" srcset="{{ $webpImg.RelPermalink }}">
			<img loading="lazy" width="{{ .Width }}" height="{{ .Height }}" src="{{ $jpgImg.RelPermalink }}"
				alt="section-bg" class="img-fluid">
		</picture>
		{{ end }}
	</div>
	{{ end }}
	<div class="right-shape">
		{{ with resources.Get `images/right-shape.png` }}
		{{ $jpgImg := .Resize "750x jpg" }}
		{{ $webpImg := .Resize "750x webp" }}
		<picture>
			<source type="image/webp" srcset="{{ $webpImg.RelPermalink }}">
			<img decoding="async" width="{{ .Width }}" height="{{ .Height }}" src="{{ $jpgImg.RelPermalink }}"
				class="img-fluid" alt="right-shape">
		</picture>
		{{ end }}
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<span>{{.section}}</span>
				</div>
				<div class="mission-content">
					<h2 class="rev">{{ .title | markdownify}}</h2>
					<p>{{ .content | markdownify }}</p>

					<div class="video image-reveal">
						<a class="video-play"
							data-video="https://www.youtube.com/embed/{{.video_id}}?autoplay=1&showinfo=0&controls=0">
							{{ with resources.Get .video_thumb }}
							{{ $jpgImg := .Resize "750x jpg" }}
							{{ $webpImg := .Resize "750x webp" }}
							<picture>
								<source type="image/webp" srcset="{{ $webpImg.RelPermalink }}">
								<img loading="lazy" width="{{ .Width }}" height="{{ .Height }}"
									src="{{ $jpgImg.RelPermalink }}" class="img-fluid" alt="video-thumb">
							</picture>
							{{ end }}
							<i class="fa fa-play"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}


{{ if site.Data.homepage.vision.enable }}
{{ with site.Data.homepage.vision }}
<section class="vision">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<span>{{ .section | markdownify }}</span>
				</div>
				<div class="visions">
					{{ range .vision_item }}
					<div class="vision-item">
						<div class="text-content">
							<h3>{{ .title | markdownify }}</h3>
							<p>{{ .content | markdownify}}</p>
						</div>
						<div class="image image-reveal">
							{{ with resources.Get .image }}
							{{ $jpgImg := .Resize "750x jpg" }}
							{{ $webpImg := .Resize "750x webp" }}
							<picture>
								<source type="image/webp" srcset="{{ $webpImg.RelPermalink }}">
								<img loading="lazy" width="{{ .Width }}" height="{{ .Height }}"
									src="{{ $jpgImg.RelPermalink }}" class="img-fluid" alt="vision-thumb">
							</picture>
							{{ end }}
							</img>
						</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}

{{ if site.Data.homepage.product.enable }}
{{ with site.Data.homepage.product }}
{{ $id := cond ( isset . `id` ) .id `products` }}
<section class="products" id="{{ $id }}">
	{{ if .bg_img }}
	<div class="bg">
		{{ with resources.Get .bg_img }}
		{{ $jpgImg := .Resize "750x jpg" }}
		{{ $webpImg := .Resize "750x webp" }}
		<picture>
			<source type="image/webp" srcset="{{ $webpImg.RelPermalink }}">
			<img width="{{ .Width }}" height="{{ .Height }}" data-lazy="{{ $jpgImg.RelPermalink }}"
				class="img-fluid" alt="section-bg">
		</picture>
		{{ end }}
	</div>
	{{ end }}
	<div class="left-shape">
		{{ with resources.Get `images/left-shape.png` }}
		{{ $jpgImg := .Resize "750x jpg" }}
		{{ $webpImg := .Resize "750x webp" }}
		<picture>
			<source type="image/webp" srcset="{{ $webpImg.RelPermalink }}">
			<img decoding="async" width="{{ .Width }}" height="{{ .Height }}" src="{{ $jpgImg.RelPermalink }}"
				class="img-fluid" alt="left-shape">
		</picture>
		{{ end }}
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<span>{{.section | markdownify }}</span>
				</div>
			</div>
			<div class="col-md-8">
				<div class="text-block">
					<h2><span class="rev">{{ .title | markdownify }}</span>
					</h2>
					<p>{{ .content | markdownify }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid p-0">
		<div class="row m-0">
			<div class="col-lg-10 ml-auto p-0">
				<div class="product-slider-wrapper">
					{{ range .product_item }}
					<div class="product-item">
						{{ with resources.Get .image }}
						{{ $jpgImg := .Resize "750x jpg" }}
						{{ $webpImg := .Resize "750x webp" }}
						<picture>
							<source type="image/webp" srcset="{{ $webpImg.RelPermalink }}">
							<img loading="lazy" width="{{ .Width }}" height="{{ .Height }}"
								src="{{ $jpgImg.RelPermalink }}" alt="product-image">
						</picture>
						{{ end }}
						<div class="overlay">
							<div class="content">
								<h5>{{ .title | markdownify }}</h5>
								<p>{{ .content | markdownify }}</p>
								<a href="{{ .project_url | absURL }}">Read More</a>
							</div>
						</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}

{{ if site.Data.homepage.contact.enable }}
{{ with site.Data.homepage.contact }}
<section class="contact" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<span>{{ .section | markdownify }}</span>
				</div>
			</div>
			<div class="col-lg-7 ml-auto">
				<div class="text-block">
					<h2><span class="rev">{{ .title | markdownify }}</span></h2>
					<p>{{.content | markdownify}}</p>
					<div class="social-list">
						{{ range site.Params.social }}
						<a href="{{ .link | safeURL }}" target="_blank">
							<i class="fa {{ .icon }}"></i>
						</a>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}

{{ if site.Data.homepage.call_to_action.enable }}
{{ with site.Data.homepage.call_to_action }}
<footer class="footer">
	<div class="text-center">
		{{ .title | markdownify }}
	</div>
</footer>
{{end}}
{{end}}

{{ end }}
